<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/homePage.css">
</head>
<body>
    <div class="container">
        <div class="main">

            <div class="nav-bar" style="height: 60px;">
                <img src="./images/CART logo-01.png" alt="" class="logo">
                
                <div class="redirect-links">
                    <a href="/homepage">Home</a>
            <a href="/about">About</a>
            <a href="/cart">Cart</a>
            <a href="/profile">Your Account</a>
                </div>
            </div>

            <div class="lower-div">

                

                <div class="right-side-div">
                    <div class="about-div">
                    <h1>About Us</h1>
                    <hr>
                    <p><%= p1 %></p>
                    <p><%= p2 %></p>
                    <p><%= p3 %></p>

                </div>
                <img src="../images/CART logo-bottom.png" alt="" class="cart-logo">


                
            
            </div>
        </div>
        </div>
    </div>
</body>
</html>

