<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/CSS/startingPage.css">
</head>
<body>
    <div class="container">
        <div class="main">
           <img src="../images/CART logo-01.png" alt="" class="logo">

           <div class="user-info">
            <div class="details-input">
                <h1>Welcome to Cart</h1>
                <h2>Create An Account</h2>

                <form action="/register" method="post">
                    

                <input type="text" name="fullName" id="" class="input-details" placeholder="Username">
                <input type="number" name="PhoneNumber" id="" class="input-details" placeholder="Phone Number">
                <input type="text" name="email" id="" class="input-details" placeholder="Email">
                <input type="password" name="password" id="" class="input-details" placeholder="Password">
                <button type="submit" class="register-button"> Register </button>

            </form>

            </div>
        </div>
           
           <div class="right-div">

            <div class="user-redirect">

                <form action="/login" method="post">
            <h1 >Already have an Account    </h1>
            <button type="submit"> Login </button>
        </form>

        </div>
            <img src="./images/CART logo-bottom.png" alt="" class="logo-background">
           </div>
        </div>
</div>

</body>
</html>